{
    "swagger": "2.0",
    "schemes": [
        "https"
    ],
    "host": "rebuild-live-api.instantconsult.com.au",
    "basePath": "/",
    "info": {
        "title": "Instant Consult API's Documentation."
    },
    "tags": [],
    "paths": {
        "/api/constants": {
            "get": {
                "summary": "Get constants",
                "operationId": "getApiConstants",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/constants"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/cancleBookingPaymentProcess": {
            "get": {
                "summary": "Get Bookings",
                "operationId": "getApiAdminCanclebookingpaymentprocess",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "name": "id",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getBlockedDoctors": {
            "get": {
                "summary": "Using to get blocked doctor list by the patient.",
                "operationId": "getApiAdminGetblockeddoctors",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "patientId",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getBookingById": {
            "get": {
                "summary": "Get Booking by id",
                "operationId": "getApiAdminGetbookingbyid",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "name": "bookingId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getBookings": {
            "get": {
                "summary": "Get Bookings",
                "operationId": "getApiAdminGetbookings",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "nature_of_consult",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "enum": [
                            "open",
                            "booked",
                            "cancelled",
                            "completed"
                        ],
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 0,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "practitioner_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "bookingDate",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getChatMessages": {
            "get": {
                "summary": "Using to get chat messages.",
                "operationId": "getApiAdminGetchatmessages",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "name": "doctorId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "nurseId",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getChats": {
            "get": {
                "summary": "Using to get chat messages.",
                "operationId": "getApiAdminGetchats",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getConsultDetails": {
            "get": {
                "summary": "Using to get consult detail list.",
                "operationId": "getApiAdminGetconsultdetails",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getConsultDetailsMedicare": {
            "get": {
                "summary": "Using to get consult detail list.",
                "operationId": "getApiAdminGetconsultdetailsmedicare",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getConsults": {
            "get": {
                "summary": "Using to get consults list.",
                "operationId": "getApiAdminGetconsults",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "name": "booking",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getCouponDetails": {
            "get": {
                "summary": "Get Patient Coupon List",
                "operationId": "getApiAdminGetcoupondetails",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Coupon is required.",
                        "required": true,
                        "name": "couponId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getCouponList": {
            "get": {
                "summary": "Get Coupon List",
                "operationId": "getApiAdminGetcouponlist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 0,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getDoctorAndNurseList": {
            "get": {
                "summary": "Using to get chat messages.",
                "operationId": "getApiAdminGetdoctorandnurselist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getDoctorBookings": {
            "get": {
                "summary": "Get Doctor Bookings",
                "operationId": "getApiAdminGetdoctorbookings",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "doctorId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getDoctorList": {
            "get": {
                "summary": "get doctor list",
                "operationId": "getApiAdminGetdoctorlist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "boolean",
                        "enum": [
                            true,
                            false
                        ],
                        "name": "isBlocked",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getDoctorRecords": {
            "get": {
                "summary": "Get Doctor Records",
                "operationId": "getApiAdminGetdoctorrecords",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "doctorId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getHPIIHistoryRecord": {
            "get": {
                "summary": "get HPII History Record by doctor's ID",
                "operationId": "getApiAdminGethpiihistoryrecord",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "name": "doctorID",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getIHIHistoryRecord": {
            "get": {
                "summary": "get IHI History Record by patient's ID",
                "operationId": "getApiAdminGetihihistoryrecord",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "name": "patientID",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getInstantHushConsultDetails": {
            "get": {
                "summary": "Using to get consult detail list.",
                "operationId": "getApiAdminGetinstanthushconsultdetails",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getInstantSwitchConsultDetails": {
            "get": {
                "summary": "Using to get consult detail list.",
                "operationId": "getApiAdminGetinstantswitchconsultdetails",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getInstantSwitchConsultDetailsMedicare": {
            "get": {
                "summary": "Using to get consult detail list.",
                "operationId": "getApiAdminGetinstantswitchconsultdetailsmedicare",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getListOfPatientsWhoBlocked": {
            "get": {
                "summary": "Get list of patients who blocked",
                "operationId": "getApiAdminGetlistofpatientswhoblocked",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "doctorId",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getListOfPatientsWhoBlockedNurse": {
            "get": {
                "summary": "Get list of patients who blocked",
                "operationId": "getApiAdminGetlistofpatientswhoblockednurse",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "nurseId",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getNurseBookings": {
            "get": {
                "summary": "Get Nurse Bookings",
                "operationId": "getApiAdminGetnursebookings",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "nurseId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getNurseList": {
            "get": {
                "summary": "get doctor list",
                "operationId": "getApiAdminGetnurselist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "boolean",
                        "enum": [
                            true,
                            false
                        ],
                        "name": "isBlocked",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPages": {
            "get": {
                "summary": "add pages contents for the apps.",
                "operationId": "getApiAdminGetpages",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPathologyDescription": {
            "get": {
                "summary": "Get list getPathologyDescription",
                "operationId": "getApiAdminGetpathologydescription",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPatientBookings": {
            "get": {
                "summary": "Get Patient Bookings",
                "operationId": "getApiAdminGetpatientbookings",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "doctorId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPatientList": {
            "get": {
                "summary": "get patient list",
                "operationId": "getApiAdminGetpatientlist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "boolean",
                        "required": false,
                        "enum": [
                            true,
                            false
                        ],
                        "name": "isBlocked",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPatientListWithFilter": {
            "get": {
                "summary": "get patient list",
                "operationId": "getApiAdminGetpatientlistwithfilter",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "boolean",
                        "required": false,
                        "enum": [
                            true,
                            false
                        ],
                        "name": "isBlocked",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPatientsQueue": {
            "get": {
                "summary": "Patients in Queue",
                "operationId": "getApiAdminGetpatientsqueue",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultDetailId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPatientsQueueV2": {
            "get": {
                "summary": "Patients in Queue",
                "operationId": "getApiAdminGetpatientsqueuev2",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultDetailId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPaymentSummarynew": {
            "get": {
                "summary": "Get Monthly Summary",
                "operationId": "getApiAdminGetpaymentsummarynew",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": true,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": true,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Doctor Id required",
                        "required": true,
                        "name": "doctorId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPendingDoctorList": {
            "get": {
                "summary": "get doctor list",
                "operationId": "getApiAdminGetpendingdoctorlist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPendingNurseList": {
            "get": {
                "summary": "get nurse list",
                "operationId": "getApiAdminGetpendingnurselist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getPromotionalEmails": {
            "get": {
                "summary": "Get Promotional Emails",
                "operationId": "getApiAdminGetpromotionalemails",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 0,
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getRadiologyDescription": {
            "get": {
                "summary": "Get list getRadiologyDescription",
                "operationId": "getApiAdminGetradiologydescription",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getRejectedDoctorList": {
            "get": {
                "summary": "get doctor list",
                "operationId": "getApiAdminGetrejecteddoctorlist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getRejectedNurseList": {
            "get": {
                "summary": "get nurse list",
                "operationId": "getApiAdminGetrejectednurselist",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getSessionById": {
            "get": {
                "summary": "Get Session By Id",
                "operationId": "getApiAdminGetsessionbyid",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "appointmentId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getStateList": {
            "get": {
                "summary": "Get States list",
                "operationId": "getApiAdminGetstatelist",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getSupportStaff": {
            "get": {
                "summary": "Get Support Staff",
                "operationId": "getApiAdminGetsupportstaff",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 0,
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getTicketById": {
            "get": {
                "summary": "Get Ticket by id",
                "operationId": "getApiAdminGetticketbyid",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "name": "ticketId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getTickets": {
            "get": {
                "summary": "Get Tickets",
                "operationId": "getApiAdminGettickets",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "topic",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "responsible",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "enum": [
                            "ALL",
                            "OPEN",
                            "IN_PROGRESS",
                            "ON_HOLD",
                            "RESOLVED",
                            "REOPENED"
                        ],
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 0,
                        "name": "skip",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/getTicketsWithFilter": {
            "get": {
                "summary": "Get Tickets",
                "operationId": "getApiAdminGetticketswithfilter",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "topic",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "responsible",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "enum": [
                            "ALL",
                            "OPEN",
                            "IN_PROGRESS",
                            "ON_HOLD",
                            "RESOLVED",
                            "REOPENED"
                        ],
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "default": 0,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "text",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/modifiedRateDoctor": {
            "get": {
                "summary": "modifiedRateDoctor",
                "operationId": "getApiAdminModifiedratedoctor",
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/modifiedRateNurse": {
            "get": {
                "summary": "modifiedRateNurse",
                "operationId": "getApiAdminModifiedratenurse",
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/myobsRefreshToken": {
            "get": {
                "summary": "set refresh token from myobs",
                "operationId": "getApiAdminMyobsrefreshtoken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/orderHistoryWithFilter": {
            "get": {
                "summary": "orderhistory",
                "operationId": "getApiAdminOrderhistorywithfilter",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "enum": [
                            "DRAFT",
                            "TO_BE_ASSESSED",
                            "ACCEPTED",
                            "COMPLETED",
                            "PAYMENT_REMAINED",
                            "ALL",
                            "REJECTED"
                        ],
                        "name": "assessmentStatus",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "assessmentId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "text",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "filterType",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/ratingDrop1": {
            "get": {
                "summary": "Rating Drop1",
                "operationId": "getApiAdminRatingdrop1",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/ratingDrop2": {
            "get": {
                "summary": "Rating Drop2",
                "operationId": "getApiAdminRatingdrop2",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/ratingDrop3": {
            "get": {
                "summary": "Rating Drop3",
                "operationId": "getApiAdminRatingdrop3",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/removePatientEntryFromQueue": {
            "get": {
                "summary": "Remove Patient Entry from Queue",
                "operationId": "getApiAdminRemovepatiententryfromqueue",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "appointmentId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/removePatientFromQueue": {
            "get": {
                "summary": "Remove Patient from Queue",
                "operationId": "getApiAdminRemovepatientfromqueue",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "queueNoId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "appointmentId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/removeWaitingTime": {
            "get": {
                "summary": "Remove Waiting Time",
                "operationId": "getApiAdminRemovewaitingtime",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/reports": {
            "get": {
                "summary": "reports",
                "operationId": "getApiAdminReports",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": true,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": true,
                        "name": "endDate",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/searchDoctor": {
            "get": {
                "summary": "Searching Doctor",
                "operationId": "getApiAdminSearchdoctor",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "searchParam",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/searchNurse": {
            "get": {
                "summary": "Searching Nurse",
                "operationId": "getApiAdminSearchnurse",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "searchParam",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/searchPractitioner": {
            "get": {
                "summary": "Searching Practitioner",
                "operationId": "getApiAdminSearchpractitioner",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "required": true,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "searchParam",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/sendSmsAppointment": {
            "get": {
                "summary": "Send sms for appointment doctor and patient",
                "operationId": "getApiAdminSendsmsappointment",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/sessions": {
            "get": {
                "summary": "Sessions",
                "operationId": "getApiAdminSessions",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "enum": [
                            "ONGOING",
                            "PAST"
                        ],
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultDetailId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/sessionsWithFilter": {
            "get": {
                "summary": "Sessions",
                "operationId": "getApiAdminSessionswithfilter",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "enum": [
                            "ONGOING",
                            "PAST"
                        ],
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultDetailId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "text",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "filterType",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/tempSOAPLog": {
            "get": {
                "summary": "temp get HI Service SOAP log",
                "operationId": "getApiAdminTempsoaplog",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "name": "date",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/traditionalprescriptions": {
            "get": {
                "summary": "Get traditional Prescriptions",
                "operationId": "getApiAdminTraditionalprescriptions",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": true,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "text",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "filterType",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/unansweredCalls": {
            "get": {
                "summary": "Unanswered Calls",
                "operationId": "getApiAdminUnansweredcalls",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultDetailId",
                        "in": "query"
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "api/admin"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "type": "string"
                        },
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/admin/unansweredCallsFilter": {
            "get": {
                "summary": "Unanswered Calls",
                "operationId": "getApiAdminUnansweredcallsfilter",
                "parameters": [
                    {
                        "type": "string",
                        "required": true,
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "required": false,
                        "name": "skip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "startDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date",
                        "description": "enter utc date in this format YYYY-MM-DDTHH:mm:ss",
                        "required": false,
                        "name": "endDate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
                        "x-convert": {
                            "trim": true
                        },
                        "name": "consultId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "required": false,
[...]
